*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
}
.total{
    line-height: 1vw;
}

.App{
    
    text-align: center;
    align-items: center;
    width: 94%;
}
.projectTitle{
    display:inline-block;
    background-color: rgba(255, 255, 255, 0.281);
  text-shadow: 0 0 0.3vw white;
  
  font-size: 2vw;
  line-height: 1vw;
}
.projectDescription{
    display:inline-block;
    background-color: rgba(255, 255, 255, 0.281);
    text-shadow: 0 0 0.3vw white;
    font-size: 1.5vw;
    line-height: 1vw;
}
.project{
    position: relative;
    display: flex;
    margin: 0 auto;
    text-align: left;
    width: 80%;
    aspect-ratio: 8/1;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /*border: 2px solid;*/
    margin-top: 15px;
    transition-duration: 250ms;
}

img {

    width: 100%;
  /* 
    border: 2px solid;
    width: calc(100% + 10px);
    margin-left: -5px;
    margin-top: -5px;*/
    aspect-ratio: 8/1;

    align-self: center;
    justify-content: space-between;
    text-align: left;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
  }
/*

.project:after {
    justify-content: space-between;
    align-items: center;
  
    margin: 0 auto;
    padding: 5px;
    border: 2px solid;
    margin-top: 15px;
    position: absolute;
    content: " ";
    width: 80%;
    aspect-ratio: 8/1;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  .project:hover:after {
    display: block;
  }
  */
.project:hover{
    width: 88%;
}