 .formField {
     font-size: var(--mediumTextSize);
     background-color: silver;
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
 }

 .formLabel {
     font-size: var(--bigTextSize);
 }

 .formButton {
     background-color: silver;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     font-size: var(--bigTextSize);
     cursor: pointer;
 }

 .formButton:hover {
     background-color: white;
 }

 .contactForm {
     width: 80%;
     margin: 0 auto;
     border-radius: 5px;
     background-color: rgba(202, 3, 209, 0.623);
     padding: 20px;
 }